h1{
    color: chartreuse;
}
p{
    font-size: 20pt;
}
table{
    border: 1px solid darkblue;
    border-width: 1px;
}
div span{
    color: darkorange;
}
#pinkh2{
    color: deeppink;
}
.greenclass{
    color: lightgreen;
}
.redclass{
    color: crimson;
}
img{
    width: 700px;
}
#purplep{
    color: purple;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.btn-warning{
    color: blue;
}
#carouselExampleSlidesOnly{
    max-width: 500px;
    min-height: 400px;
}
body{
    padding-left:10%;
}